<section id="ajc-content">
	<h2>AJC Restaurant Reviews in <span class="locale">Decatur</span></h2>
	<!-- <p class='target'></p> -->
	<ul>
		<li ng-repeat="feed in ajc" class="ajc-listing">
			<img class="ajc-thumbnail" src="{{ feed.mediaGroups[0].contents[0].url }}"></img>
			<ul class="listing-info">
				<li class="restaurant-name"><a href="{{ feed.link }}">{{ feed.title }}</a></li>
				<li class="review-snippet">

					{{ feed.contentSnippet }} <span><a class="see-more" href="{{ feed.link }}">more ...</a></span>

				</li>
				<li><p>By: {{ feed.author }}</p></li>
				</ul>
		</li>
	</ul>
</section>


<section id="yelp-directory">	
	<h2>Top Rated Restaurants in <span class="locale">Decatur</span></h2>
	<ul>

		<li ng-repeat="place in restaurants | orderBy : '-rating'" class="place-listing">
			<a href="{{ place.url }}" target="_blank">
				<img class="restaurant-thumbnail" src="{{ place.image_url }}">
				<ul class="listing-info">
					<li class="restaurant-name">{{ place.name }}</li>
					<li>Phone: {{ place.display_phone }}</li>
					<li>Address:
						{{ place.location.display_address[0] }},
						{{ place.location.display_address[2] }}
					</li>
					<li>Categories: <span ng-repeat="category in place.categories">/ {{ category[0] }} /</span></li>
					<li class="review-snippet">{{ place.snippet_text }}</li>
					<li class="rating">Rating: 
						<img class="rating-stars" src="{{ place.rating_img_url }}"> based on <span class="review-count">{{ place.review_count }}</span> Reviews
					</li>
				</ul>
			</a>
		</li>

		<!--  Below Image/Link Required By Yelp.com -->
		<img src="https://s3-media1.fl.yelpcdn.com/assets/2/www/img/1589098a542f/developers/Powered_By_Yelp_White.png">
	</ul>

</section>
